<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Botones de renfe</title>
	<link rel="stylesheet" type="text/css" href="../static/estilos.css" />
	<!--<script type="text/javascript" src="../static/botones.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div id="texto">
		<p>Por favor, seleccione el tipo de billete</p>
	</div><!--texto-->

	<div id="btn">
		<ul>
			<li id="ida"><a id="idaClick" href="/opc/ida">Ida</a></li>
			<li id="iv"><a id="ivClick" href="/opc/iv">Ida y vuelta</a></li>
			<li id="men"><a id="menClick" href="/opc/mensual">Mensual</a></li>
		</ul>
	</div><!--btn-->
</body>
</html>